<h1><%= @user.name %></h1>

<p>Email: <%= mail_to @user.email, @user.email, subject: 'Hi' %></p>

<% if @user.cart_items.present? %>
	<h2>My Cart</h2>
	<%= render 'carts/cart', user: @user %>
<% end %>

<h2>Beers I'm Selling</h2>

<%= render 'beers/beers', beers: @user.beers %>