<ul>
<% user.cart_items.each do |cart_item| %>
	<li>
		<%= link_to cart_item.beer.name, beer_url(cart_item.beer) %>: <%= number_to_currency(cart_item.beer.price) %>
		| <%= link_to 'Remove from Cart', cart_item_url(cart_item), method: :delete, confirm: "Are you sure you want to remove #{cart_item.beer.name} from your cart?" %>
	</li>
<% end %>
</ul>
<br/>
<p>Total: <%= number_to_currency(user.cart.total_price(user.cart.id)) %></p>